<% content_for :title, "Best" %>
<h1>Best Moments</h1>
<div id="best">
	<section>
		<span class="titles_para">Television</span><br /><br />
		<iframe width="545" height="315" src="http://www.youtube.com/embed/czSG1mUFn1A" frameborder="0" allowfullscreen></iframe>
		<iframe width="545" height="315" src="http://www.youtube.com/embed/eeauNjSBWoQ" frameborder="0" allowfullscreen></iframe>
		<iframe width="545" height="315" src="http://www.youtube.com/embed/tj7Qh7CWm7c" frameborder="0" allowfullscreen></iframe>
	</section>
	<section>
		<span class="titles_para">Cinema</span><br /><br />
		<iframe width="545" height="315" src="http://www.youtube.com/embed/e_GSSTfwJjA" frameborder="0" allowfullscreen></iframe>
		<iframe width="545" height="315" src="http://www.youtube.com/embed/ttoC1n8z9h4" frameborder="0" allowfullscreen></iframe>
		<iframe width="545" height="315" src="http://www.youtube.com/embed/3o-D8Pyj6dQ" frameborder="0" allowfullscreen></iframe>
	</section>
</div>