<% content_for :title, "Filmography" %>
<h1>Filmography</h1>
<div id="filmo">
	<span class="titles_para">Actor</span><br /><br />
	<%= image_tag("filmo_1.jpg", :alt => "Jim Carrey", :class => "img_bio") %>
	<table bgcolor="white">
		<thead>
			<tbody>
				<tr bgcolor="#1AB09C">
					<td>Title</td>
					<td>Year</td>
					<td>Role</td>
				</tr>
				<tr>
					<td>The All-Night Show</td>
					<td>1980</td>
					<td>Additional voices</td>
				</tr>
				<tr>
					<td>Rubberface</td>
					<td>1981</td>
					<td>Tony Moroni</td>
				</tr>
				<tr>
					<td>The Sex and Violence Family Hour</td>
					<td>1983</td>
					<td>Various</td>
				</tr>
				<tr>
					<td>Copper Mountain</td>
					<td>1983</td>
					<td>Bobby Todd</td>
				</tr>
				<tr>
					<td>All in Good Taste</td>
					<td>1983</td>
					<td>Ralph Parker</td>
				</tr>
				<tr>
					<td>Buffalo Bill</td>
					<td>1984</td>
					<td>Jerry Lewis Impersonator</td>
				</tr>
				<tr>
					<td>Finders Keepers</td>
					<td>1984</td>
					<td>Lane Bidlekoff</td>
				</tr>
				<tr>
					<td>The Duck Factory</td>
					<td>1984</td>
					<td>Skip Tarkenton</td>
				</tr>
				<tr>
					<td>Once Bitten</td>
					<td>1985</td>
					<td>Mark Kendall</td>
				</tr>
				<tr>
					<td>Peggy Sue Got Married</td>
					<td>1986</td>
					<td>Walter Getz</td>
				</tr>
				<tr>
					<td>The Dead Pool</td>
					<td>1988</td>
					<td>Johnny Squares</td>
				</tr>
				<tr>
					<td>Earth Girls Are Easy</td>
					<td>1989</td>
					<td>Wiploc</td>
				</tr>
				<tr>
					<td>Mike Hammer: Murder Takes All</td>
					<td>1989</td>
					<td>Brad Peters</td>
				</tr>
				<tr>
					<td>Pink Cadillac</td>
					<td>1989</td>
					<td>Lounge Entertainer</td>
				</tr>
				<tr>
					<td><a name="ILV">In Living Color</a></td>
					<td>1990-1994</td>
					<td>Various</td>
				</tr>
				<tr>
					<td>High Strung</td>
					<td>1991</td>
					<td>Death</td>
				</tr>
				<tr>
					<td>Doing Time on Maple Drive</td>
					<td>1984</td>
					<td>Lane Bidlekoff</td>
				</tr>
				<tr>
					<td>Finders Keepers</td>
					<td>1992</td>
					<td>Tim Carter</td>
				</tr>
				<tr>
					<td>The Itsy Bitsy Spider</td>
					<td>1992</td>
					<td>The Exterminator</td>
				</tr>
				<tr>
					<td><a name="AV">Ace Ventura: Pet Detective</a></td>
					<td>1994</td>
					<td>Ace Ventura</td>
				</tr>
				<tr>
					<td><a name="TM">The Mask</a></td>
					<td>1994</td>
					<td>Stanley Ipkiss/The Mask</td>
				</tr>
				<tr>
					<td><a name="DaD">Dumb and Dumber</a></td>
					<td>1994</td>
					<td>Lloyd Christmas</td>
				</tr>
				<tr>
					<td><a name="BF">Batman Forever</a></td>
					<td>1995</td>
					<td>Riddler / Edward Nygma</td>
				</tr>
				<tr>
					<td><a name="AV2">Ace Ventura: When Nature Calls</a></td>
					<td>1995</td>
					<td>Ace Ventura</td>
				</tr>
				<tr>
					<td><a name="TCG">The Cable Guy</a></td>
					<td>1996</td>
					<td>Cable Guy</td>
				</tr>
				<tr>
					<td>Saturday Night Live</td>
					<td>1996, 2003, 2011</td>
					<td>Host</td>
				</tr>
				<tr>
					<td><a name="LL">Liar Liar</a></td>
					<td>1997</td>
					<td>Fletcher Reede</td>
				</tr>
				<tr>
					<td>The Truman Show</td>
					<td>1998</td>
					<td>Truman Burbank</td>
				</tr>
				<tr>
					<td>Simon Birch</td>
					<td>1998</td>
					<td>Adult Joe Wenteworth</td>
				</tr>
				<tr>
					<td>Man on the Moon</td>
					<td>1999</td>
					<td>Andy Kaufman (also as Tony Clifton)</td>
				</tr>
				<tr>
					<td>Me, Myself & Irene</td>
					<td>2000</td>
					<td>Charlie Baileygates/Hank Evans</td>
				</tr>
				<tr>
					<td>How the Grinch Stole Christmas</td>
					<td>2000</td>
					<td>The Grinch</td>
				</tr>
				<tr>
					<td>The Majestic</td>
					<td>2001</td>
					<td>Peter Appleton</td>
				</tr>
				<tr>
					<td>Pecan Pie</td>
					<td>2003</td>
					<td>The Driver</td>
				</tr>
				<tr>
					<td>Bruce Almighty</td>
					<td>2003</td>
					<td>Bruce Nolan</td>
				</tr>
				<tr>
					<td>Eternal Sunshine of the Spotless Mind</td>
					<td>2004</td>
					<td>Joel Barish</td>
				</tr>
				<tr>
					<td>Lemony Snicket's A Series of Unfortunate Events</td>
					<td>2004</td>
					<td>Count Olaf</td>
				</tr>
				<tr>
					<td>Fun with Dick and Jane</td>
					<td>2005</td>
					<td>Dick Harper</td>
				</tr>
				<tr>
					<td>The Number 23</td>
					<td>2007</td>
					<td>Walter Sparrow / Fingerling</td>
				</tr>
				<tr>
					<td>Horton Hears a Who!</td>
					<td>2008</td>
					<td>Horton</td>
				</tr>
				<tr>
					<td>Yes Man</td>
					<td>2008</td>
					<td>Carl Allen</td>
				</tr>
				<tr>
					<td>I Love You Phillip Morris</td>
					<td>2009</td>
					<td>Steven Jay Russell</td>
				</tr>
				<tr>
					<td>A Christmas Carol</td>
					<td>2009</td>
					<td>Ebenezer Scrooge / Ghost of Christmas Past / Ghost of Christmas Present / Ghost of Christmas Yet to Come</td>
				</tr>
				<tr>
					<td>Under the Sea 3D</td>
					<td>2009</td>
					<td>Narrator</td>
				</tr>
				<tr>
					<td>The Office</td>
					<td>2011</td>
					<td>Finger Lakes guy</td>
				</tr>
				<tr>
					<td>Mr. Popper's Penguins</td>
					<td>2011</td>
					<td>Tom Popper</td>
				</tr>
				<tr>
					<td>30 Rock</td>
					<td>2012</td>
					<td>Dave Williams</td>
				</tr>
				<tr>
					<td>The Incredible Burt Wonderstone</td>
					<td>2013</td>
					<td>Steve Gray</td>
				</tr>
				<tr>
					<td>Kick-Ass 2</td>
					<td>2013</td>
					<td>Colonel Stars and Stripes</td>
				</tr>
			</tbody>
		</thead>
	</table><br /><br />
	<span class="titles_para">Producer</span><br /><br />
	<%= image_tag("filmo_2.jpg", :alt => "Jim Carrey", :class => "img_bio") %>
	<table bgcolor="white" width="560">
		<thead>
			<tbody>
				<tr bgcolor="#1AB09C">
					<td>Title</td>
					<td>Year</td>
					<td>Notes</td>
				</tr>
				<tr>
					<td>Jim Carrey: The Un-Natural Act</td>
					<td>1991</td>
					<td>Producer and writer</td>
				</tr>
				<tr>
					<td>Ace Ventura: Pet Detective</td>
					<td>1994</td>
					<td>Writer (screenplay)</td>
				</tr>
				<tr>
					<td>Bruce Almighty</td>
					<td>2003</td>
					<td>Producer</td>
				</tr>
				<tr>
					<td>Fun with Dick and Jane</td>
					<td>2003</td>
					<td>Producer</td>
				</tr>
			</tbody>
		</thead>
	</table>
</div>