<% content_for :title, "Home" %>
<div id="home">
	<h1>Home Page</h1>
	<p>
		<b>Welcome to my rails wiki!</b><br /><br/>
		It contains two little pages about my subject (Jim Carrey) and it was developped in ruby on rails.<br />
		You can see all his life <a href="http://localhost:3000/biography">here</a> or (re)discover his filmography <a href="http://localhost:3000/filmography">here</a>.<br /><br />
		James Eugene "Jim" Carrey (<a href="http://localhost:3000/biography#Bio">born January 17, 1962</a>) is a Canadian American actor, comedian, and producer. Carrey has received four <a href="http://localhost:3000/biography#GoldG">Golden Globe Award nominations</a>, winning two. Known for his highly energetic slapstick performances, he has been described as one of the biggest movie stars in Hollywood.
		<iframe width="780" height="315" src="http://www.youtube.com/embed/K3opuPA9Bek" frameborder="0" allowfullscreen></iframe>
		<%= image_tag("home.jpg", :alt => "Jim Carrey", :class => "img_bio") %>
	</p>
</div>
