<% content_for :title, "Home" %>
<h1>Home Page</h1>
<div id="home">
	<section>
		<b>Welcome to my rails wiki!</b><br /><br/>
		It contains three little pages about my subject (Jim Carrey) and it was developped in ruby on rails.<br />
		You can see all his life <a href="http://localhost:3000/biography">here</a>, (re)discover his filmography <a href="http://localhost:3000/filmography">here</a> or appreciate all his better moments <a href="http://localhost:3000/best">here</a>.<br />
		<b>Maybe you are able to see more if you know the KONAMI Code…</b><br /><br />
		James Eugene "Jim" Carrey (<a href="http://localhost:3000/biography#Bio">born January 17, 1962</a>) is a Canadian American actor, comedian, and producer. Carrey has received four <a href="http://localhost:3000/biography#GoldG">Golden Globe Award nominations</a>, winning two. Known for his highly energetic slapstick performances, he has been described as one of the biggest movie stars in Hollywood.
		<iframe width="545" height="315" src="http://www.youtube.com/embed/K3opuPA9Bek" frameborder="0" allowfullscreen></iframe>
		<%= image_tag("home.jpg", :alt => "Jim Carrey", :class => "img_bio") %>
	</section>
</div>