<h1>Home Page</h1>
<p>
	Welcome to my rails wiki!<br />
	It contains two little pages about my subject : Jim Carrey and it was developped in ruby on rails.<br />
	You can access to the other pages here : <a href="http://localhost:3000/pages/wiki1">First Page</a> <a href="http://localhost:3000/pages/wiki2">Second Page</a>.
</p>
