// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, header, footer, nav
{
	text-align: center;
	padding: 10px;
}

leader, footer, section, #filmo
{
	background-color: white;
}

#main_part
{
	height: 650px;
}

#spacer
{
	clear: both;
	height: 2px;
}

nav, #bio, #home, #best, #filmo
{
	height: 670px;
}

#bio, #home, #best
{
	float: right;
	width: 580px;
	overflow: auto;
}

#filmo
{
	float: right;
	padding: 10px;
	width: 560px;
	overflow: auto;
	height: 650px;
}

#filmo table, #filmo tr, #filmo td
{
	border-collapse: collapse;
	border: 1px solid grey;
}

td
{
	padding: 5px;
}

footer
{
	text-decoration: underline;
	font-weight: bolder;
}

nav
{
	background-color: black;
	float: left;
	width: 200px;
	height: 100%;
}

nav a
{
	color: white;
	padding: 5px;
	border: 2px solid white;
}

a
{
	text-decoration: none;
}

.titles_para
{
	font-size: 20px;
	font-weight: bolder;
	color: #1AB09C;
}

a:hover
{
	color: red;
}

.img_bio
{
	display: block;
	margin: 0 auto;
}

section
{
	padding: 10px;
}

h1
{
	color: white;
}

header, footer
{
	margin-top: 15px;
}

header
{
	font-size: 40px;
	background-image: url("bann.jpg");
	font-weight: bolder;
}

body
{
	margin: 0 auto;
	width: 800px;
}

html
{
	background-image: url("bg.jpg");
	background-attachment: fixed;
}