<!DOCTYPE html>
<html>
<head>
  <title>Wiki</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		This is my header!<br />
	</header>
	<%= yield %>
	<nav>
		<a href="http://localhost:3000/biography">First Page</a>
		<a href="http://localhost:3000/filmography">Second Page</a>
	</nav>
	<footer>
		This is my footer!
	</footer>
</body>
</html>
